@page "/profile/change-password"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Identity
@using MudBlazor
@using System.ComponentModel.DataAnnotations
@using System.Security.Claims
@using DodjelaStanovaZG.Components.UI
@using DodjelaStanovaZG.DTO

@attribute [Authorize]

<Container BreadcrumbItems="BreadcrumbItems">
    <MudGrid Justify="Justify.Center">
        <MudItem xs="12" sm="10" md="6" lg="4">
            <MudCard Outlined="true" Rounded="true" Style="width: 350px; margin: auto;">
                <MudCardContent>
                    @if (ErrorMessages?.Count > 0)
                    {
                        <MudAlert Severity="Severity.Error" Elevation="0" Class="mb-4">
                            <ul>
                                @foreach (var msg in ErrorMessages)
                                {
                                    <li>@msg</li>
                                }
                            </ul>
                        </MudAlert>
                    }

                    <MudForm @ref="_form" Model="@ChangePasswordModel"
                             Valid="@(() => _isValid = true)"
                             Invalid="@(() => _isValid = false)">
                        
                        <!-- Trenutna (stara) lozinka -->
                        <MudTextField ShrinkLabel T="string"
                                      Label="Trenutna lozinka"
                                      For="@(() => ChangePasswordModel.OldPassword)"
                                      @bind-Value="ChangePasswordModel.OldPassword"
                                      InputType="InputType.Password"
                                      Required="true"
                                      Margin="Margin.Dense"
                                      Variant="Variant.Outlined"
                                      Class="mb-3" />

                        <!-- Nova lozinka -->
                        <MudTextField ShrinkLabel T="string"
                                      Label="Nova lozinka"
                                      For="@(() => ChangePasswordModel.NewPassword)"
                                      @bind-Value="ChangePasswordModel.NewPassword"
                                      InputType="InputType.Password"
                                      Required="true"
                                      Margin="Margin.Dense"
                                      Variant="Variant.Outlined"
                                      Class="mb-3" />

                        <!-- Potvrdi novu lozinku -->
                        <MudTextField ShrinkLabel T="string"
                                      Label="Potvrdi novu lozinku"
                                      For="@(() => ChangePasswordModel.ConfirmPassword)"
                                      @bind-Value="ChangePasswordModel.ConfirmPassword"
                                      InputType="InputType.Password"
                                      Required="true"
                                      Margin="Margin.Dense"
                                      Variant="Variant.Outlined"
                                      Class="mb-3" />


                        <MudStack Row="true" AlignItems="AlignItems.Center" Spacing="2" Class="mt-4">
                            <MudButton Variant="Variant.Filled"
                                       Size="Size.Small"
                                       IconColor="Color.Error"
                                       DropShadow="false"
                                       Color="Color.Default"
                                       Style="border: 1px solid #d3d3d3;"
                                       OnClick="ChangePasswordAsync"
                                       StartIcon="@Icons.Material.Filled.LockReset">
                                Promijeni lozinku
                            </MudButton>
                        </MudStack>
                    </MudForm>
                </MudCardContent>
            </MudCard>
        </MudItem>
    </MudGrid>
</Container>
