@page "/socijalni/pregled/{NatjecajId:long}"
@using DodjelaStanovaZG.Components.UI
@using DodjelaStanovaZG.Areas.SocijalniNatjecaj.DTO
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@using MudBlazor
@inherits SocijalniNatjecajPregledBase

<Container BreadcrumbItems="BreadcrumbItems">
    <MudPaper Outlined="true" Class="pa-4">

        <div class="flex items-center gap-4 mb-4">
            <MudButton OnClick="@AddZahtjev"
                       Variant="Variant.Filled"
                       Color="Color.Default"
                       IconColor="Color.Success"
                       DropShadow="false"
                       StartIcon="@Icons.Material.Filled.Add">
                Dodaj
            </MudButton>
        </div>

        <MudTable T="SocijalniNatjecajDto"
                  Items="Natjecaji"
                  Hover="true"
                  Striped="true"
                  RowsPerPage="10"
                  Dense="true"
                  Outlined="true"
                  @ref="Table">

            <HeaderContent>
                <MudTh Style="font-weight: bold; color: white; background-color: #163d73">Klasa predmeta</MudTh>
                <MudTh Style="font-weight: bold; color: white; background-color: #163d73">Datum podnošenja</MudTh>
                <MudTh Style="font-weight: bold; color: white; background-color: #163d73">Adresa</MudTh>
                <MudTh Style="font-weight: bold; color: white; background-color: #163d73">Ukupni prihod (€)</MudTh>
                <MudTh Style="font-weight: bold; color: white; background-color: #163d73">Stambeni status</MudTh>
                <MudTh Style="font-weight: bold; color: white; background-color: #163d73">Sastav kućanstva</MudTh>
            </HeaderContent>

            <RowTemplate>
                <MudTd DataLabel="Klasa">@context.KlasaPredmeta</MudTd>
                <MudTd DataLabel="Datum">@context.DatumPodnosenjaZahtjeva.ToString("dd.MM.yyyy.")</MudTd>
                <MudTd DataLabel="Adresa">@context.Adresa</MudTd>
                <MudTd DataLabel="Prihod">
                    @($"{context.Bodovni?.UkupniPrihodKucanstva?.ToString("N2") ?? ""} €")
                </MudTd>
                <MudTd DataLabel="Stambeni">@context.Bodovni?.StambeniStatusKucanstva</MudTd>
                <MudTd DataLabel="Sastav">@context.Bodovni?.SastavKucanstva</MudTd>
            </RowTemplate>

            <PagerContent>
                <MudTablePager />
            </PagerContent>

        </MudTable>
    </MudPaper>
</Container>
