@page "/socijalni/pregled/{NatjecajId:long}"
@using DodjelaStanovaZG.Components.UI
@using DodjelaStanovaZG.Areas.SocijalniNatjecaj.DTO
@using MudBlazor
@inherits SocijalniNatjecajPregledBase

<Container BreadcrumbItems="BreadcrumbItems">
    <MudPaper Outlined="true" Class="pa-4">

        <div class="flex items-center gap-4 mb-4">
            <MudButton OnClick="@AddZahtjev"
                       Variant="Variant.Filled"
                       Color="Color.Default"
                       IconColor="Color.Success"
                       DropShadow="false"
                       StartIcon="@Icons.Material.Filled.Add">
                Dodaj
            </MudButton>
        </div>

        <MudTable T="SocijalniNatjecajZahtjevDto"
                  ServerData="LoadServerData"
                  Hover="true"
                  Striped="true"
                  RowsPerPage="10"
                  Dense="true"
                  Outlined="true"
                  Bordered="false"
                  Breakpoint="Breakpoint.Sm"
                  Class="only-horizontal-borders"
                  @ref="Table">

            <HeaderContent>
                <MudTh Style="font-weight: bold;">Klasa predmeta</MudTh>
                <MudTh Style="font-weight: bold;">Datum podnošenja</MudTh>
                <MudTh Style="font-weight: bold;">Adresa</MudTh>
                <MudTh Style="font-weight: bold;">Ukupni prihod (€)</MudTh>
                <MudTh Style="font-weight: bold;">Stambeni status</MudTh>
                <MudTh Style="font-weight: bold;">Sastav kućanstva</MudTh>
                <MudTh Style="font-weight: bold;">Akcija</MudTh>
            </HeaderContent>

            <RowTemplate>
                <MudTd DataLabel="Klasa">@context.KlasaPredmeta</MudTd>
                <MudTd DataLabel="Datum">
                    @context.DatumPodnosenjaZahtjeva?.ToString("dd.MM.yyyy")
                </MudTd>
                <MudTd DataLabel="Adresa">@context.Adresa</MudTd>
                <MudTd DataLabel="Prihod">
                    @($"{context.Bodovni?.UkupniPrihodKucanstva?.ToString("N2") ?? ""} €")
                </MudTd>
                <MudTd DataLabel="Stambeni">@context.Bodovni?.StambeniStatusKucanstva</MudTd>
                <MudTd DataLabel="Sastav">@context.Bodovni?.SastavKucanstva</MudTd>
                <MudTd DataLabel="Akcija">
                    <MudIconButton Icon="@Icons.Material.Filled.Info"
                                   Size="Size.Small"
                                   OnClick="() => NavigateToDetails(context)" />
                </MudTd>
            </RowTemplate>

            <PagerContent>
                <MudTablePager />
            </PagerContent>

        </MudTable>

    </MudPaper>
</Container>
