@using Microsoft.AspNetCore.Authorization
@using MudBlazor
@attribute [Authorize(Roles = "Admin,SuperAdmin")]

@if (ErrorMessages?.Count > 0)
{
    <MudAlert Severity="Severity.Error" Elevation="0" Class="mb-4">
        <ul>
            @foreach (var msg in ErrorMessages)
            {
                <li>@msg</li>
            }
        </ul>
    </MudAlert>
}

<!-- Tablica prikazuje sve role (string) u kojima je korisnik -->
<MudTable Items="@UserRoles" Hover="true" Striped="true" Outlined="true" RowsPerPage="@RowsPerPage" Dense="true" SortLabel="Sort By">
    <HeaderContent>
        <MudTh Style="font-weight: bold; color: white; background-color: #163d73">Rola</MudTh>
        <MudTh Style="font-weight: bold; color: white; background-color: #163d73">Akcija</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Role Name">@context</MudTd>
        <MudTd DataLabel="Akcije">
            <MudIconButton Icon="@Icons.Material.Filled.Delete"
                           Variant="Variant.Text"
                           Dense="true"
                           DisableElevation="true"
                           Color="Color.Error"
                           OnClick="() => RemoveUserFromRole(context)"
                           Class="custom-icon-sm"/>
        </MudTd>
    </RowTemplate>
</MudTable>

<MudDivider Class="my-3"/>

<!-- Dio za dodavanje nove role putem dropdowna -->
<MudStack Row="true" Spacing="2" AlignItems="AlignItems.Center">
    <MudSelect ShrinkLabel T="string"
               Label="Dodaj rolu"
               @bind-Value="NewRoleName"
               Variant="Variant.Outlined"
               Margin="Margin.Dense"
               Dense="true">
        @foreach (var role in AllRoles)
        {
            <MudSelectItem T="string" Value="@role">@role</MudSelectItem>
        }
    </MudSelect>
    <MudButton Variant="Variant.Filled"
               Size="Size.Small"
               IconColor="Color.Success"
               OnClick="AddUserToRole"
               Style="margin-top: 4px; border: 1px solid #d3d3d3;"
               DropShadow="false"
               Color="Color.Default"
               StartIcon="@Icons.Material.Filled.Add">
        Dodaj
    </MudButton>
</MudStack>
