@page "/admin/users"
@using Microsoft.AspNetCore.Authorization
@using DodjelaStanovaZG.Areas.Admin.Korisnici.DTO
@using DodjelaStanovaZG.Areas.Admin.Korisnici.Services
@using DodjelaStanovaZG.Components.UI
@using MudBlazor
@attribute [Authorize(Roles = "Management")]

<Container BreadcrumbItems="BreadcrumbItems">
    <MudPaper Outlined="true" Class="pa-4">

        <div class="flex items-center gap-4 mb-4">
            <MudButton OnClick="@AddUser"
                       Variant="Variant.Filled"
                       Color="Color.Default"
                       IconColor="Color.Success"
                       DropShadow="false"
                       StartIcon="@Icons.Material.Filled.Add"
                       Style="padding: 10px 18px;">
                Dodaj
            </MudButton>

            <div class="flex-1">
                <MudTextField Label="Pretraga korisnika"
                              Value="@SearchText"
                              ValueChanged="@(EventCallback.Factory.Create<string>(this, OnValueChanged))"
                              Immediate="true"
                              DebounceInterval="300"
                              Variant="Variant.Outlined"
                              Margin="Margin.Dense"
                              Adornment="Adornment.Start"
                              AdornmentIcon="@Icons.Material.Filled.Search"
                              Class="w-full" />
            </div>

            <div class="flex-none w-[120px]">
                <MudSelect T="string"
                           Label="Role:"
                           Value="@FilterRole"
                           ValueChanged="@(EventCallback.Factory.Create<string>(this, OnFilterRoleChanged))"
                           Variant="Variant.Outlined"
                           Margin="Margin.Dense"
                           Dense="true"
                           Class="w-full">
                    <MudSelectItem Value="@RoleNames.All">@RoleNames.All</MudSelectItem>
                    <MudSelectItem Value="@RoleNames.Referent">@RoleNames.Referent</MudSelectItem>
                    <MudSelectItem Value="@RoleNames.ReferentReadOnly">@RoleNames.ReferentReadOnly</MudSelectItem>
                    <MudSelectItem Value="@RoleNames.Management">@RoleNames.Management</MudSelectItem>
                </MudSelect>
            </div>
        </div>

        <MudTable T="UserDto"
                  ServerData="LoadUsers"
                  Hover="true"
                  Striped="true"
                  RowsPerPage="@RowsPerPage"
                  Dense="true"
                  Outlined="true"
                  @ref="_table"
                  Class="rounded-lg overflow-hidden">

            <HeaderContent>
                <MudTh Style="font-weight: bold; color: white; background-color: #163d73">Korisničko ime</MudTh>
                <MudTh Style="font-weight: bold; color: white; background-color: #163d73">Email</MudTh>
                <MudTh Style="font-weight: bold; color: white; background-color: #163d73">Role</MudTh>
                <MudTh Style="font-weight: bold; color: white; background-color: #163d73">Status</MudTh>
                <MudTh Style="font-weight: bold; color: white; background-color: #163d73">Akcija</MudTh>
            </HeaderContent>

            <RowTemplate>
                <MudTd DataLabel="Username">@context.UserName</MudTd>
                <MudTd DataLabel="Email">@context.Email</MudTd>
                <MudTd DataLabel="Roles">@context.Roles</MudTd>
                <MudTd DataLabel="Status">
                    <MudChip T="string"
                             Variant="Variant.Text"
                             Size="Size.Small"
                             Color="@(context.IsLocked ? Color.Error : Color.Success)">
                        @(context.IsLocked ? "Zaključan" : "Otključan")
                    </MudChip>
                </MudTd>

                <MudTd DataLabel="Actions">
                    <MudButton OnClick="() => EditUser(context.Id)"
                               Variant="Variant.Text"
                               Class="p-2">
                        <MudIcon Icon="@Icons.Material.Filled.Edit" Class="custom-icon-sm"/>
                    </MudButton>
                </MudTd>
            </RowTemplate>

            <PagerContent>
                <MudTablePager />
            </PagerContent>
        </MudTable>
    </MudPaper>
</Container>